html {
    font-size: 10px;
}

body {
    background-color: #f7f7f7;
    box-sizing: border-box;
    color: #393e46;
    font-family: "Noto sans JP", 'Arial', sans-serif;
    line-height: 1;
    letter-spacing: .08rem;
}

a {
    text-decoration: none;
    color: #393e46;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    padding: 15px 0;
    position: relative;
}

.header-logo {
    margin-left: 15px;
    font-family: 'Noto sans JP';
    font-weight: bold;
    color: #333;
    max-width: 60%;
}

.site-logo {
    font-size: 1.2em;
    display: block;
    line-height: 1.2;
    margin-bottom: 3px;
}

.site-text-paragraph {
    font-size: 1.7em;
    line-height: 1.2;
}

.hamburger-menu {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1001;
}

.hamburger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #393e46;
    border-radius: 3px;
    margin: 6px 0;
    transition: 0.4s;
    position: relative;
}

.hamburuge-menu.active {
    background-color: #f1f1f1;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

.hamburger-menu.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 9px;
    left: 6px;
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(45deg);
    top: -9px;
    left: 6px;
}

.nav {
    position: fixed;
    top: 0px;
    right: -50%;
    width: 50%;
    background-color: #f1f1f1;
    z-index: 999;
    transition: right 0.3s ease-in-out;
    padding: 10px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    margin-right: 0;
}

.nav.show {
    right: 0;
}

.nav-menu {
    flex-direction: column;
    margin-top: 3px;
    padding-left: 0;
}

.nav-item {
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
}

.nav-link {
    font-size: 1.5em;
    padding: 3px 6px;
    font-weight: bold;
}

.main-image-container {
    position: relative;
}

.main-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.main-image-text {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
}


.text-item {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    padding: 5px;
    inline-size: fit-content;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .header-logo {
        margin-left: 30px;
        max-width: none;
    }

    .site-logo {
        font-size: 1.2em;
    }

    .site-text-paragraph {
        font-size: 2.3em;
    }

    .hamburger-menu {
        display: none;
    }

    .nav {
        position: static;
        width: auto;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        z-index: 0;
        transition: none;
        margin-right: 20px;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        margin-top: 10px;
    }

    .nav-item {
        margin: 10px;
    }

    .nav-link {
        font-size: 1.8em;
        font-weight: bold;
        color: #333;
        white-space: nowrap;
    }

    .nav-link:hover {
        text-decoration: underline;
        color: #005689;
        opacity: 0.7;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .main-image {
        height: 450px;
    }

    .text-item {
        font-size: 2.5rem;
        padding: 10px;
    }
}

@media (min-width: 1024px) {
    .header {
        max-width: 1080px;
        margin: 0 auto;
    }

    .header-logo {
        margin-left: 30px;
    }

    .site-logo {
        font-size: 1.3em;
    }

    .site-text-paragraph {
        font-size: 2.6em;
    }


    .nav {
        margin-right: 20px;
    }

    .nav-item {
        margin: 10px;
        padding: 5px 0;
    }

    .nav-link {
        font-size: 1.8rem;
    }

    .main-image {
        height: 600px;
    }

    .text-item {
        font-size: 3.5rem;
        padding: 20px;
    }

    .section__wrapper {
        max-width: 1080px;
        margin: 0 auto;
    }

    .about {
        margin-top: 80px;
    }

    .slide__wrapper {
        width: 520px;
        height: 390px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
    }
}

.section__title {
    text-align: center;
    font-size: 1.8rem;
}

.about {
    height: 200px;
}

.section__text {
    font-size: 20px;
    padding: 30px;
}

.professors {
    margin: 15px 0;
    padding: 20px;
}

.professors__title {
    text-align: center;
    margin-bottom: 50px;
}

.professors__title span {
    padding-bottom: 1px;
    border-bottom: 2px solid #005689;
}

.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.card {
    background-color: #ececec;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.card__header {
    padding: 20px 20px 10px;
}

.card__image {
    width: 50%;
    height: 250px;
    padding-top: 15px;
    margin: 0 auto;
    object-fit: cover;
}

.card__title {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

.card__body {
    padding: 20px;
    text-align: center;
}

.card__text {
    text-align: center;
    font-size: 18px;
    padding: 0 5px;
    display: inline-block;
    position: relative;
}

.card__text::before,
.card__text::after {
    content: "~";
    color: #666;
    font-size: 1.2em;
    line-height: .8;
    position: absolute;
}

.card__text::before {
    left: 0;
    transform: translateX(-100%);
}

.card__text::after {
    right: 0;
    transform: translateX(100%);
}

.card__item {
    text-align: left;
    list-style: circle;
    padding: 5px 0;
    margin: 5px 0;
}



.students__title {
    text-align: center;
    margin: 30px 0;
}

.students__title span {
    padding-bottom: 1px;
    border-bottom: 2px solid #005689;
}

.students__area {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.students-group {
    text-align: center;
    padding: 20px;
}

.students-group h4 {
    margin-bottom: 20px;
}

.students-group p {
    padding: 5px;
}

.lablife-content {
    margin-top: 30px;
}

.lablife__text {
    font-size: 18px;
    padding: 22px;
    margin-bottom: 40px;
}

/* .slide__wrapper {
    width: 520px;
    height: 390px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.prev {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(-135deg) translateY(-50%);
}

.next {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(45deg) translateY(50%);
}

.indicator {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    column-gap: 15px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
}

.indicator li:first-of-type {
    background-color: #000;
}

.slide {
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.3s;
}

.slide div {
    width: 33.3%;
    height: 100%;
}

.slide1 {
    transform: translateX(0);
}

.slide2 {
    transform: translateX(-33.33%);
}

.slide3 {
    transform: translateX(-66.66%);
}

.slide__image {
    width: 520px;
    height: 390px;
    object-fit: cover;
} */

.footer {
    background-color: #f7f7f7;
    width: 100%;
    height: 65px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 2px solid #000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.footer-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-list li {
    margin-right: 20px;
}

.external-link {
    align-items: center;
    color: #000;
}