body {
    background-color: #f7f7f7;
    box-sizing: border-box;
    color: #393e46;
    font-family: "Noto sans JP", 'Arial', sans-serif;
    font-size: 100%;
    line-height: 1;
    letter-spacing: .08rem;
}

a {
    text-decoration: none;
    color: #393e46;
}

li {
    list-style: none;
}


.header {
    background-color: #f7f7f7;
    width: 100%;
    height: 100px;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-logo {
    margin-left: 6em;
    font-family: 'Noto sans JP';
}

.header-logo:hover {
    color: #005689;
    opacity: 0.7;
}

.site-logo {
    font-size: 1rem;
}

.site-paragraph {
    font-size: 1.5rem;
    margin: 0;
}

.site-sub-paragraph {
    font-size: .5em;
    font-family: 'Arial';
    margin-left: 0.5em;
}

.nav {
    margin-right: 6em;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    font-size: 1.125rem;
    font-family: 'Noto sans JP';
}

.nav-link:hover {
    text-decoration: underline;
    color: #005689;
    ;
    opacity: 0.7;
}


/* メイン */

.main-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.main-image-container {
    position: relative;
}

.main-image-text {
    width: 1050px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 3rem;
}

.text-item {
    padding: 0.25em 0;
}

/* セクション */
.section__wrapper {
    width: 1080px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.section__title {
    text-align: center;
    font-size: 1.8rem;
}

.about {
    height: 180px;
}

.section__text {
    font-size: 20px;
    padding: 30px;
}

.professors {
    margin-top: 15px;
    padding: 20px;
}

.professors__title {
    text-align: center;
    margin-bottom: 30px;
}

.professors__title span {
    padding-bottom: 1px;
    border-bottom: 2px solid #005689;
}

.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.card {
    background-color: rgb(241, 237, 237);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.card__header {
    padding: 20px 20px 10px;
}

.card__image {
    width: 50%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
}

.card__title {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

.card__body {
    padding: 20px;
    text-align: center;
}

.card__text {
    text-align: center;
    font-size: 18px;
    padding: 0 5px;
    display: inline-block;
    position: relative;
}

.card__text::before,
.card__text::after {
    content: "~";
    color: #666;
    font-size: 1.2em;
    line-height: .8;
    position: absolute;
}

.card__text::before {
    left: 0;
    transform: translateX(-100%);
}

.card__text::after {
    right: 0;
    transform: translateX(100%);
}

.card__item {
    text-align: left;
    padding: 5px 0;
    margin: 5px 0;
}

.students {
    margin-top: 30px;
}

.students__title {
    text-align: center;
}

.students__title span {
    padding-bottom: 1px;
    border-bottom: 2px solid #005689;
}

.students__area {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.students-group {
    text-align: center;
    padding: 20px;
}

.students-group h4 {
    margin-bottom: 20px;
}

.students-group p {
    padding: 5px;
}

.lablife-content {
    margin-top: 30px;
}

.lablife__text {
    font-size: 18px;
    padding: 22px;
    margin-bottom: 40px;
}

.slide__wrapper {
    width: 520px;
    height: 390px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.prev {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(-135deg) translateY(-50%);
}

.next {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(45deg) translateY(50%);
}

.indicator {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    column-gap: 15px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
}

.indicator li:first-of-type {
    background-color: #000;
}

.slide {
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.3s;
}

.slide div {
    width: 33.3%;
    height: 100%;
}

.slide1 {
    /* スライドさせるために必要なクラス */
    transform: translateX(0);
}

.slide2 {
    /* スライドさせるために必要なクラス */
    transform: translateX(-33.33%);
}

.slide3 {
    /* スライドさせるために必要なクラス */
    transform: translateX(-66.66%);
}

.slide__image {
    width: 520px;
    height: 390px;
    object-fit: cover;
}